name: Publish Container Image
on:
  workflow_call:
    inputs:
      registry:
        description: The ECR container image registry url
        type: string
        required: true
      repository-name:
        description: The container image repository name (without version tag)
        type: string
        required: true
      role-to-assume:
        description: The arn for the role to be used by this workflow
        type: string
        required: true
      major-minor-version:
        description: The major/minor version of the image that will be used to generate the full tag
        type: string
        required: false
        default: "1.0"
      docker-context:
        description: The directory context for docker build
        type: string
        required: false
        default: "."
      title:
        description: The title to be used for a container image label
        type: string
        required: false
        default: ""
      description:
        description: The description to be used for a container image label
        type: string
        required: false
        default: ""
      authors:
        description: The authors to be used for a container image label
        type: string
        required: false
        default: ""
      documentation-url:
        description: The documentation url to be used for a container image label
        type: string
        required: false
        default: ""
      test-target:
        description: A test-target for testing the dockerfile
        type: string
        required: false
        default: ""
      kustomization-github-repo:
        description: The url for a GitHub repo with a kustomization that needs to be updated with the new image tag
        type: string
        required: false
        default: ""
      kustomization-path:
        description: The path for the kustomization directory
        type: string
        required: false
        default: ""
      kustomization-github-app-id:
        description: The PEM id of the GitHub app that will be used to update kustomization-github-repo
        type: string
        required: false
        default: ""
    secrets:
      webhook-url:
        description: A webhook for Google Space Notifications
        required: false
      kustomization-github-app-key:
        description: The PEM file contents for the GitHub app that will be used to update kustomization-github-repo
        required: false
jobs:
  build:
    runs-on: ubuntu-latest
    # permissions:
    #   actions: write
    #   contents: write
    #   pull-requests: write
    #   id-token: write
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ inputs.role-to-assume }}
          aws-region: us-east-2

      - name: Docker Login
        run: aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin ${{ inputs.registry }}

      - name: Get next image tag
        id: get-next-image-tag
        uses: acceleratelearning/action-get-next-ecr-image-tag@main
        with:
          registry: ${{ inputs.registry }}
          repository-name: ${{ inputs.repository-name }}
          major-minor-version: "${{ inputs.major-minor-version }}"

      - name: Test container image
        if: ${{ inputs.test-target != '' }}
        uses: acceleratelearning/action-build-container-image@main
        with:
          image-name: container-test
          docker-context: ${{ inputs.docker-context }}
          title: ${{ inputs.title }}
          description: ${{ inputs.description }}
          authors: ${{ inputs.authors }}
          documentation-url: ${{ inputs.documentation-url }}
          test-target: ${{ inputs.test-target }}

      - name: Get Test Results
        if: ${{ inputs.test-target != '' }}
        run: |
          docker run -it --rm container-test cat /testresults/TestResults.xml > TestResults.xml
          cat TestResults.xml

      - name: Build container image
        uses: acceleratelearning/action-build-container-image@main
        with:
          image-name: ${{ steps.get-next-image-tag.outputs.next-image-name }}
          docker-context: ${{ inputs.docker-context }}
          title: ${{ inputs.title }}
          description: ${{ inputs.description }}
          authors: ${{ inputs.authors }}
          documentation-url: ${{ inputs.documentation-url }}

      - name: Publish Container Image to ECR
        shell: pwsh
        run: |
          docker push ${{ steps.get-next-image-tag.outputs.next-image-name }}
          Write-Output "::notice:: Published image ${{ steps.get-next-image-tag.outputs.next-image-name }}"

      - name: Get image scan results
        uses: acceleratelearning/action-get-ecr-image-scan-results@main
        with:
          registry: ${{ inputs.registry }}
          repository-name: ${{ inputs.repository-name }}
          tag: "${{ steps.get-next-image-tag.outputs.next-tag }}"

      - name: Update Kustomization Image
        if: ${{ inputs.kustomization-github-repo != '' }}
        uses: acceleratelearning/action-update-kustomization-image@main
        with:
          github-repo: ${{ inputs.kustomization-github-repo }}
          path: ${{ inputs.kustomization-path }}
          image-name: "${{ inputs.registry }}/${{ inputs.repository-name }}"
          new-tag: "${{ steps.get-next-image-tag.outputs.next-tag }}"
          github-app-id: ${{ inputs.kustomization-github-app-id }}
          github-app-key: ${{ secrets.kustomization-github-app-key }}

      - name: Publish GitHub Release\
        id: publish-release
        uses: acceleratelearning/action-publish-github-release@main
        with:
          version: "${{ steps.get-next-image-tag.outputs.next-tag }}"

      - name: Google Space Notification
        uses: acceleratelearning/action-google-space-notification@main
        with:
          title: "Container Image for ${{ inputs.repository-name }}"
          webhook-url: ${{ secrets.webhook-url }}
          version: "${{ steps.get-next-image-tag.outputs.next-tag }}"
          release-notes: "${{ steps.publish-release.outputs.release-notes }}"
          release-html-url: ${{ steps.publish-release.outputs.release-html-url }}
